bleach==6.2.0
charset-normalizer==3.3.2
debugpy==1.8.5
Django==5.0.7
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
drf-yasg==1.21.8
fonttools==4.53.1
image==1.5.33
jedi==0.19.1
nbconvert==7.16.6
openpyxl==3.1.5
pandas==2.2.2
pip==24.0
platformdirs==4.2.2
plotly==5.23.0
prompt_toolkit==3.0.47
pyzmq==26.1.0
qrcode==8.0
requests==2.32.3
uritemplate==4.1.1
